pkg/xsd/testdata/differential/schema.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
 xmlns:t="urn:differential" targetNamespace="urn:differential"
 elementFormDefault="qualified">
 <xs:simpleType name="Money">
  <xs:restriction base="xs:decimal">
   <xs:minInclusive value="0"/>
   <xs:maxInclusive value="999.99"/>
   <xs:fractionDigits value="2"/>
  </xs:restriction>
 </xs:simpleType>
 <xs:simpleType name="Code">
  <xs:restriction base="xs:string">
   <xs:pattern value="[A-Z]{2}[0-9]{2}"/>
  </xs:restriction>
 </xs:simpleType>
 <xs:element name="order">
  <xs:complexType>
   <xs:sequence>
    <xs:element name="amount" type="t:Money"/>
    <xs:element name="code" type="t:Code"/>
    <xs:element name="item" minOccurs="0" maxOccurs="unbounded">
     <xs:complexType><xs:attribute name="id" type="xs:string" use="required"/></xs:complexType>
    </xs:element>
    <xs:element name="note" type="xs:string" nillable="true" minOccurs="0"/>
    <xs:any namespace="##other" processContents="skip" minOccurs="0"/>
   </xs:sequence>
   <xs:attribute name="status" use="required">
    <xs:simpleType><xs:restriction base="xs:string">
     <xs:enumeration value="open"/><xs:enumeration value="closed"/>
    </xs:restriction></xs:simpleType>
   </xs:attribute>
  </xs:complexType>
  <xs:key name="itemKey"><xs:selector xpath="t:item"/><xs:field xpath="@id"/></xs:key>
 </xs:element>
</xs:schema>
